<template>
	<v-container fluid>
		<v-row>
			<v-col align="center">
				<v-form ref="form" v-model="valid" @submit.prevent="updateMeetUp">
					<v-card outlined max-width="500" v-if="userAuth">
						<v-card-title>Edit MeetUp</v-card-title>
						<v-card-title><v-text-field v-model="name" :rules="required" outlined hide-details label="Title"></v-text-field></v-card-title>
						<v-card-text>
							<v-row>
								<v-col>
									<v-combobox :items="subjects" v-model="subjectsFilter" :rules="required" @blur="checkSubjectsValid()" label="Subjects" chips multiple outlined hide-details></v-combobox>
								</v-col>
								<v-btn depressed style="margin-top:28px; margin-right:12px;" @click.stop="subjectsFilter = null">CLEAR</v-btn>
							</v-row>
							<v-row>
								<v-col>
									<v-menu ref="dateMenu" v-model="dateMenu" :close-on-content-click="true" transition="scale-transition" offset-y max-width="290px" min-width="290px">
										<template v-slot:activator="{ on, attrs }">
											<v-text-field v-model="date" :rules="required" label="Date" outlined hide-details readonly dense v-bind="attrs" v-on="on"></v-text-field>
										</template>
										<v-date-picker v-model="date" no-title scrollable>
											<v-spacer></v-spacer>
											<v-btn text color="primary" @click="dateMenu = false">CANCEL</v-btn>
											<v-btn text color="primary" @click="$refs.dateMenu.save(date)">OK</v-btn>
										</v-date-picker>
									</v-menu>
								</v-col>
								<v-col>
									<v-menu ref="timeMenu" v-model="timeMenu" :close-on-content-click="false" transition="scale-transition" offset-y max-width="290px" min-width="290px">
										<template v-slot:activator="{ on, attrs }">
											<v-text-field v-model="time" :rules="required" label="Time" readonly outlined hide-details dense v-bind="attrs" v-on="on">
											</v-text-field>
										</template>
										<v-time-picker v-if="timeMenu" v-model="time" full-width @click:minute="$refs.timeMenu.save(time)"></v-time-picker>
									</v-menu>
								</v-col>
								<span><v-btn depressed style="margin-top:14px; margin-right:12px;" @click.stop="date = ''; time = ''">CLEAR</v-btn></span>
							</v-row>
							<v-text-field v-model="location" :rules="required" outlined hide-details dense class="mt-3" label="Location"></v-text-field>
							<v-text-field v-model="description" outlined hide-details dense class="mt-6" label="Description (optional)"></v-text-field>
						</v-card-text>
						<v-card-actions>
							<v-btn depressed color="error" @click.stop="deletePopup = !deletePopup">DELETE MEETUP</v-btn>
							<v-spacer></v-spacer>
							<v-btn depressed color="success" type="submit" @click="$refs.form.validate()" :loading="updating" :disabled="updating">UPDATE MEETUP</v-btn>
						</v-card-actions>
						<v-expand-transition>
							<v-card outlined color="error" dark v-if="deletePopup" align="left">
								<v-card-actions>
									<v-card-text>
										Are you sure you want to delete? (PERMANENT)
									</v-card-text>
									<v-spacer></v-spacer>
									<v-btn depressed light @click.stop="deletePopup = false">CANCEL</v-btn>
									<v-btn depressed @click.stop="deleteMeetUp()" :loading="deleting" :disabled="deleting">DELETE</v-btn>
								</v-card-actions>
							</v-card>
						</v-expand-transition>
					</v-card>
				</v-form>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
import * as firebase from '../firebase'
export default {
	name: 'EditMeetUp',
	data() {
		return {
			userAuth: false,
			u_id: '',
			valid: false,
			required: [ v => !!v || 'Required'],
			name: '',
			date: '',
			dateMenu: false,
			time: '',
			timeMenu: false,
			subjects: [],
			subjectsFilter: [],
			originalSubjectsFilter: [],
			location: '',
			description: '',
			updating: false,
			deletePopup: false,
			deleting: false,
		}
	},
	created() {
		this.getMeetUp()
		this.getSubjects()
	},
	methods: {
		getUserId() {
			const user = []
			firebase.firestore.collection('User').where('name', '==', firebase.auth.currentUser.email.split('@')[0]).get().then(query => {
				query.forEach(doc => {
					user.push(doc.id)
				})
			}).then(() => {
				if(user.length !== 1) {
					alert('User Error')
					return
				} else {
					// this.userId = user[0]
					if(user[0] == this.u_id) {
						this.userAuth = true
					}
					
					this.getUserAdmin(user[0])
				}
			})
		},
		getUserAdmin(userId) {
			firebase.firestore.collection('Administrator').get().then(query => {
				query.forEach(doc => {
					if(userId == doc.data().u_id) {
						this.userAuth = true
						return
					}
				})
			}).then(() => {
				if(!this.userAuth) {
					this.$router.push('/')
				}
			})
		},
		getMeetUp() {
			firebase.firestore.collection('MeetUp').doc(this.$route.params.m_id).get().then(doc => {
				this.u_id = doc.data().u_id
				this.name = doc.data().name
				this.location = doc.data().location
				this.description = doc.data().description
				const docDate = new Date(doc.data().datetime)
				docDate.setTime(docDate.getTime() + (2*60*60*1000))
				this.date = docDate.toISOString().slice(0, 10)
				this.time = docDate.toISOString().slice(11, 16)
			}).then(() => {
				firebase.firestore.collection('MeetUp_For_Subject').where('m_id', '==', this.$route.params.m_id).get().then(query => {
					query.forEach(doc => {
						firebase.firestore.collection('Subject').doc(doc.data().s_id).get().then(doc => {
							this.subjectsFilter.push(doc.data().name)
							this.originalSubjectsFilter.push(doc.data().name)
							this.subjects.splice(this.subjects.indexOf(doc.data().name), 1)
							this.subjects.unshift(doc.data().name)
						})
					})
				})
			}).then(this.getUserId())
			.catch(error => {
				this.userAuth = false
			})
		},
		getSubjects() {
			firebase.firestore.collection('Subject').get().then(query => {
				query.forEach(doc => {
					this.subjects.push(doc.data().name)
				})
			})
		},
		checkSubjectsValid() {
			if(this.subjectsFilter.length <= 0) {
				this.subjectsFilter = null
			}
		},
		updateMeetUp() {
			if(this.valid) {
				this.editing = true
				let datetime = this.date
				let subjectsFilter = this.subjectsFilter
				if(this.date !== '' && this.date !== null) {
					if(this.time !== '' && this.time !== null) {
						datetime += 'T' + this.time + ':00.000+02:00'
					} else {
						datetime += 'T00:00:00.000+02:00'
					}
				}
				firebase.firestore.collection('MeetUp').doc(this.$route.params.m_id).set({
					name: this.name,
					location: this.location,
					description: this.description,
					u_id: this.u_id,
					datetime: new Date(datetime).toString()
				}).then(() => {
					firebase.firestore.collection('Subject').get().then(query => {
						query.forEach(subject => {
							if(this.subjectsFilter.includes(subject.data().name) && !this.originalSubjectsFilter.includes(subject.data().name)) {
								firebase.firestore.collection('MeetUp_For_Subject').add({
									s_id: subject.id,
									m_id: this.$route.params.m_id
								})
							}
							if(!this.subjectsFilter.includes(subject.data().name) && this.originalSubjectsFilter.includes(subject.data().name)) {
								let MFSQuery = firebase.firestore.collection('MeetUp_For_Subject').where('s_id', '==', subject.id)
								MFSQuery.where('m_id', '==', this.$route.params.m_id).get().then(query => {
									query.forEach(doc => {
										firebase.firestore.collection('MeetUp_For_Subject').doc(doc.id).delete()
									})
								})
							}
						})
					})
				}).then(setTimeout(() => {
					this.$router.push('/mymeetups')
				}, 500))
				.catch(function(error) {
					alert('Error while creating MeetUp: ' + error)
				})
			}
		},
		deleteMeetUp() {
			this.deleting = true
			firebase.firestore.collection('User_Joined_Meetup').where('m_id', '==', this.$route.params.m_id).get().then(query => {
				query.forEach(doc => {
					firebase.firestore.collection('User_Joined_Meetup').doc(doc.id).delete()
				})
			}).then(() => {
				firebase.firestore.collection('MeetUp_For_Subject').where('m_id', '==', this.$route.params.m_id).get().then(query => {
					query.forEach(doc => {
						firebase.firestore.collection('MeetUp_For_Subject').doc(doc.id).delete()
					})
				})
			}).then(() => {
				firebase.firestore.collection('MeetUp').doc(this.$route.params.m_id).delete()
			}).then(setTimeout(() => {
				this.$router.push('/mymeetups')
			}, 500))
		}
	}
}
</script>