<template>
	<v-container fluid>
		<v-row>
			<v-col align="center">
				<v-form @submit.prevent="getMeetUps">
				<v-card max-width="500" align="left" class="mb-6" outlined>
					<v-expansion-panels flat accordion>
						<v-expansion-panel>
							<v-expansion-panel-header color="grey lighten-4" class="rounded text-button" disable-icon-rotate><span>FILTERS</span><template v-slot:actions><v-badge dot :value="filter"><v-icon>mdi-filter</v-icon></v-badge></template></v-expansion-panel-header>
							<v-expansion-panel-content>
								<v-row class="flex-nowrap">
									<v-col>
										<v-combobox :items="subjects" v-model="subjectsFilter" blur="" label="Subjects" class="mt-5"  chips multiple outlined hide-details></v-combobox>
									</v-col>
									<v-btn depressed style="margin-top:48px; margin-right:12px;" @click.stop="subjectFilterClear()">CLEAR</v-btn>
								</v-row>
								<v-row class="flex-nowrap">
									<v-col>
										<v-card outlined style="border:1px solid #9E9E9E;" class="mt-5 mb-4">
											<v-expansion-panels flat accordion>
												<v-expansion-panel>
													<v-expansion-panel-header class="grey--text text--darken-1">Filter Date &amp; Time<template v-slot:actions><v-badge dot :value="dateTimeFilter"><v-icon>$expand</v-icon></v-badge></template></v-expansion-panel-header>
													<v-expansion-panel-content>
														<v-row>
															<span class="mt-3 ml-3 text-button" style="width:50px;">FROM:</span>
															<v-col>
																<v-menu ref="fromDateMenu" v-model="fromDateMenu" :close-on-content-click="true" transition="scale-transition" offset-y max-width="290px" min-width="290px">
																	<template v-slot:activator="{ on, attrs }">
																		<v-text-field v-model="fromDate" label="Date" outlined hide-details readonly dense v-bind="attrs" v-on="on"></v-text-field>
																	</template>
																	<v-date-picker v-model="fromDate" no-title scrollable>
																		<v-spacer></v-spacer>
																		<v-btn text color="primary" @click="fromDateMenu = false">CANCEL</v-btn>
																		<v-btn text color="primary" @click="$refs.fromDateMenu.save(fromDate)">OK</v-btn>
																	</v-date-picker>
																</v-menu>
															</v-col>
															<v-col>
																<v-menu ref="fromTimeMenu" v-model="fromTimeMenu" :close-on-content-click="false" transition="scale-transition" offset-y max-width="290px" min-width="290px">
																	<template v-slot:activator="{ on, attrs }">
																		<v-text-field v-model="fromTime" label="Time" readonly outlined hide-details dense v-bind="attrs" v-on="on">
																		</v-text-field>
																	</template>
																	<v-time-picker v-if="fromTimeMenu" v-model="fromTime" full-width @click:minute="$refs.fromTimeMenu.save(fromTime)"></v-time-picker>
																</v-menu>
															</v-col>
														</v-row>
														<v-row>
															<span class="mt-3 ml-3 text-button" style="width:50px;">TO:</span>
															<v-col>
																<v-menu ref="toDateMenu" v-model="toDateMenu" :close-on-content-click="true" transition="scale-transition" offset-y max-width="290px" min-width="290px">
																	<template v-slot:activator="{ on, attrs }">
																		<v-text-field v-model="toDate" label="Date" outlined hide-details readonly dense v-bind="attrs" v-on="on"></v-text-field>
																	</template>
																	<v-date-picker v-model="toDate" no-title scrollable>
																		<v-spacer></v-spacer>
																		<v-btn text color="primary" @click="toDate = false">CANCEL</v-btn>
																		<v-btn text color="primary" @click="$refs.toDateMenu.save(toDate)">OK</v-btn>
																	</v-date-picker>
																</v-menu>
															</v-col>
															<v-col>
																<v-menu ref="toTimeMenu" v-model="toTimeMenu" :close-on-content-click="false" transition="scale-transition" offset-y max-width="290px" min-width="290px">
																	<template v-slot:activator="{ on, attrs }">
																		<v-text-field v-model="toTime" label="Time" readonly outlined hide-details dense v-bind="attrs" v-on="on">
																		</v-text-field>
																	</template>
																	<v-time-picker v-if="toTimeMenu" v-model="toTime" full-width @click:minute="$refs.toTimeMenu.save(toTime)"></v-time-picker>
																</v-menu>
															</v-col>
														</v-row>
													</v-expansion-panel-content>
												</v-expansion-panel>
											</v-expansion-panels>
										</v-card>
									</v-col>
									<v-btn depressed style="margin-top:40px; margin-right:12px;" @click.stop="dateTimeFilterClear()">CLEAR</v-btn>
								</v-row>
								<v-card-actions>
									<v-spacer></v-spacer>
									<v-btn depressed dark type="submit">FILTER</v-btn>
								</v-card-actions>
							</v-expansion-panel-content>
						</v-expansion-panel>
					</v-expansion-panels>
				</v-card>
				</v-form>
				<MeetUp :meetUp="meetUp" :userId="userId" :filter="subjectsFilter" :userAdmin="userAdmin" :removeMe="removeMeetUp" :leaveRemoveMe="() => {}" :addSubjectFilter="addSubjectFilter" v-for="meetUp in meetUps" :key="meetUp.id"></MeetUp>
				<v-btn v-show="loading" loading icon x-large text></v-btn>
				{{meetUps.length > 0 || loading ? '' : 'No MeetUps found'}}
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
import MeetUp from './MeetUp.vue'
import * as firebase from '../firebase'
export default {
	name: 'Home',
	components: {
		MeetUp
	},
	data() {
		return {
			fromDate: '',
			fromDateMenu: false,
			fromTime: '',
			fromTimeMenu: false,
			toDate: '',
			toDateMenu: false,
			toTime: '',
			toTimeMenu: false,
			meetUps: [],
			subjects: [],
			subjectsFilter: [],
			userId: '',
			userAdmin: false,
			loading: true,
		}
	},
	computed: {
		filter() {
			return this.fromDate.length + this.fromTime.length + this.toDate.length + this.toTime.length + this.subjectsFilter.length
		},
		dateTimeFilter() {
			return this.fromDate.length + this.fromTime.length + this.toDate.length + this.toTime.length
		},
	},
	created() {
		this.getUserId()
		this.getUserAdmin()
		this.getSubjects()
		this.getMySubjects()
		if(this.$store.getters.autoDateFilter) {
			const nowDate = new Date(Date.now())
			nowDate.setTime(nowDate.getTime() + (2*60*60*1000))
			this.fromDate = nowDate.toISOString().slice(0, 10)
			this.fromTime = nowDate.toISOString().slice(11, 16)
		}
	},
	methods: {
		removeMeetUp(id) {
			this.meetUps.forEach(meetUp => {
				if(meetUp.id == id) {
					this.meetUps.splice(this.meetUps.indexOf(meetUp), 1)
					return
				}
			})
		},
		addSubjectFilter(subject) {
			if(!this.subjectsFilter.includes(subject)) {
				this.subjectsFilter.push(subject)
				this.subjects.splice(this.subjects.indexOf(subject), 1)
				this.subjects.unshift(subject)
				this.getMeetUps()
			}
		},
		subjectFilterClear() {
			if(this.subjectsFilter.length > 0) {
				this.subjectsFilter = []
				this.getMeetUps()
			}
		},
		dateTimeFilterClear() {
			if(this.fromDate.length + this.fromTime.length + this.toDate.length + this.toTime.length > 0) {
				this.fromDate = ''
				this.fromTime = ''
				this.toDate = ''
				this.toTime = ''
				this.getMeetUps()
			}
		},
		getUserId() {
			const user = []
			firebase.firestore.collection('User').where('name', '==', firebase.auth.currentUser.email.split('@')[0]).get().then(query => {
				query.forEach(doc => {
					user.push(doc.id)
				})
			}).then(() => {
				if(user.length !== 1) {
					alert('User Error')
					return
				} else {
					this.userId = user[0]
				}
			})
		},
		getUserAdmin() {
			firebase.firestore.collection('Administrator').get().then(query => {
				query.forEach(doc => {
					if(this.userId == doc.data().u_id) {
						this.userAdmin = true
						return
					}
				})
			})
		},
		getMeetUps() {
			this.meetUps = []
			let fromCheck = false
			let from = this.fromDate
			if(this.fromDate !== '' && this.fromDate !== null) {
				fromCheck = true
				if(this.fromTime !== '' && this.fromTime !== null) {
					from += 'T' + this.fromTime + ':00.000+02:00'
				} else {
					from += 'T00:00:00.000+02:00'
				}
			}
			let toCheck = false
			let to = this.toDate
			if(this.toDate !== '' && this.toDate !== null) {
				toCheck = true
				if(this.toTime !== '' && this.toTime !== null) {
					to += 'T' + this.toTime + ':59.000+02:00'
				} else {
					to += 'T23:59:59.000+02:00'
				}
			}
			this.loading = true
			firebase.firestore.collection('MeetUp').get().then(query => {
				query.forEach(doc => {
					const date = new Date(doc.data().datetime.toString())
					const fromFilter = new Date(from)
					if(fromCheck && fromFilter > date) {
						return
					}
					const toFilter = new Date(to)
					if(toCheck && toFilter < date) {
						return
					}
					const data = {
						'id': doc.id,
						'u_id': doc.data().u_id,
						'name': doc.data().name,
						'datetime': doc.data().datetime,
						'date': date,
						'datestring': date.toDateString() + ', ' + date.toLocaleTimeString().slice(0, date.toLocaleTimeString().length - 6) + date.toLocaleTimeString().slice(date.toLocaleTimeString().length - 3, date.toLocaleTimeString().length),
						'location': doc.data().location,
						'description': doc.data().description
					}
					this.meetUps.push(data)
				})
			}).then(setTimeout(() => {
				this.loading = false
				this.meetUps.sort((a, b) => { return a.date.getTime() - b.date.getTime() })
			}, 1000))
		},
		getSubjects() {
			firebase.firestore.collection('Subject').get().then(query => {
				query.forEach(doc => {
					this.subjects.push(doc.data().name)
				})
			})
		},
		getMySubjects() {
			const user = []
			firebase.firestore.collection('User').where('name', '==', firebase.auth.currentUser.email.split('@')[0]).get().then(query => {
				query.forEach(doc => {
					user.push(doc.id)
				})
			}).then(() => {
				if(user.length !== 1) {
					alert('User Error')
				} else {
					const courses = []
					firebase.firestore.collection('User_Takes_Course').where('u_id', '==', user[0]).get().then(query => {
						query.forEach(doc => {
							courses.push(doc.data().c_id)
						})
					}).then(() => {
						courses.forEach(course => {
							const subjects = []
							firebase.firestore.collection('Course_Has_Subject').where('c_id', '==', course).get().then(query => {
								query.forEach(doc => {
									subjects.push(doc.data().s_id)
								})
							}).then(() => {
								subjects.forEach(subject => {
									firebase.firestore.collection('Subject').doc(subject).get().then(query => {
										this.subjects.splice(this.subjects.indexOf(query.data().name), 1)
										this.subjects.unshift(query.data().name)
										if(this.$store.getters.autoSubjectFilter) {
											this.subjectsFilter.push(query.data().name)
										}
									})
								})
							})
						})
					}).then(this.getMeetUps())
				}
			})
		}
	}
}
</script>
