<template>
	<v-container>
		<v-row>
			<v-col align="center">
				<MeetUp :meetUp="meetUp" :userId="userId" :filter="[]" :userAdmin="userAdmin" :removeMe="removeMeetUp" :leaveRemoveMe="removeMeetUp" v-for="meetUp in meetUps" :key="meetUp.id"></MeetUp>
				<v-btn v-if="loading" loading icon x-large text></v-btn>
				{{meetUps.length > 0 || loading ? '' : 'You have not joined any MeetUps'}}
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
import MeetUp from './MeetUp'
import * as firebase from '../firebase'
export default {
	name: 'JoinedMeetUps',
	components: {
		MeetUp
	},
	data() {
		return {
			userId: '',
			userAdmin: false,
			meetUps: [],
			loading: true,
		}
	},
	created() {
		this.getUserId()
		this.getUserAdmin()
	},
	methods: {
		removeMeetUp(id) {
			this.meetUps.forEach(meetUp => {
				if(meetUp.id == id) {
					this.meetUps.splice(this.meetUps.indexOf(meetUp), 1)
					return
				}
			})
		},
		getUserId() {
			const user = []
			firebase.firestore.collection('User').where('name', '==', firebase.auth.currentUser.email.split('@')[0]).get().then(query => {
				query.forEach(doc => {
					user.push(doc.id)
				})
			}).then(() => {
				if(user.length !== 1) {
					alert('User Error')
					return
				} else {
					this.userId = user[0]
					this.getJoinedMeetUps()
				}
			})
		},
		getUserAdmin() {
			firebase.firestore.collection('Administrator').get().then(query => {
				query.forEach(doc => {
					if(this.userId == doc.data().u_id) {
						this.userAdmin = true
						return
					}
				})
			})
		},
		getJoinedMeetUps() {
			this.meetUps = []
			firebase.firestore.collection('User_Joined_Meetup').where('u_id', '==', this.userId).get().then(query => {
				query.forEach(doc => {
					firebase.firestore.collection('MeetUp').doc(doc.data().m_id).get().then(doc => {
						const date = new Date(doc.data().datetime.toString())
						const data = {
							'id': doc.id,
							'u_id': doc.data().u_id,
							'name': doc.data().name,
							'datetime': doc.data().datetime,
							'date': date,
							'datestring': date.toDateString() + ', ' + date.toLocaleTimeString().slice(0, date.toLocaleTimeString().length - 6) + date.toLocaleTimeString().slice(date.toLocaleTimeString().length - 3, date.toLocaleTimeString().length),
							'location': doc.data().location,
							'description': doc.data().description
						}
						this.meetUps.push(data)
					})
				})
			}).then(setTimeout(() => {
				this.meetUps.sort((a, b) => { return a.date.getTime() - b.date.getTime() })
				this.loading = false
			}, 1000))
		},
	},
}
</script>