<template>
	<v-container fluid>
		<v-row>
			<v-col align="center">
				<v-form @submit.prevent="login">
					<v-card outlined max-width="500">
						<v-card-title>Welcome</v-card-title>
						<v-card-text>
							<v-text-field outlined hide-details v-model="username" label="Username" class="mb-5"></v-text-field>
							<v-text-field outlined hide-details v-model="password" label="Password" type="password"></v-text-field>
							<v-card v-show="error !== null" color="error" dark class="mt-5">
								<v-card-text>{{error}}</v-card-text>
							</v-card>
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn depressed dark type="submit">LOGIN</v-btn>
						</v-card-actions>
					</v-card>
				</v-form>
				<v-select v-model="selected" outlined style="max-width:500px;" class="mt-5" label="Select user for login (DEMO ONLY)" :items="accounts" @input="setUser()" dense></v-select>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
import { auth } from '../firebase'

export default {
	name: 'Login',
	data() {
		return {
			username: '',
			password: '',
			error: null,
			accounts: [ 'user1', 'user2', 'tutor1', 'tutor2', 'admin' ],
			selected: ''
		}
	},
	methods: {
		login() {
			auth.signInWithEmailAndPassword(this.username + '@email.com', this.password)
			.catch(err => {
				this.error = err.message
			});
		},
		setUser() {
			this.username = this.selected
			this.password = 'pass1234'
		}
	}
}
</script>