<template>
	<v-card outlined max-width="500" align="left" class="mb-6" v-if="matched" :style="this.userJoined ? 'border:1px solid #00BCD4;' : this.mine ? 'border:1px solid #4CAF50;' : 'border:1px solid #9E9E9E;'">
		<v-card-title class="pb-1 flex-nowrap" style="overflow-wrap:break-word;word-wrap:break-word;word-break:break-all;word-break:break-word;hyphens:auto;">{{meetUp.name}}<v-spacer></v-spacer><span class="text-button primary--text text-no-wrap" :class="this.userJoined ? 'primary--text' : this.mine ? 'success--text' : ''">{{mine ? 'created' : ''}}{{userJoined && !mine ? 'joined' : ''}}</span></v-card-title>
		<v-card-text>
			<v-btn class="mr-2 mb-2" rounded depressed small @click.stop="addSubjectFilter(subject)" v-for="(subject, i) in this.subjects" :key="i">{{subject}}</v-btn>
			<br>{{meetUp.datestring}}
			<br>{{meetUp.location}}
			<br v-if="meetUp.description !== ''">{{meetUp.description}}
		</v-card-text>
		<v-card-actions>
			<v-btn rounded outlined small color="primary" class="mr-2" :ripple="false">Joined: {{joined.length}}</v-btn>
			<v-spacer></v-spacer>
			<v-btn depressed rounded color="primary" v-if="(!mine || (!mine && userAdmin)) && !userJoined" @click.stop="join" :loading="joining" :disabled="joining">JOIN</v-btn>
			<v-btn depressed rounded color="primary" v-if="userJoined" @click.stop="leave" :loading="leaving" :disabled="leaving">LEAVE</v-btn>
			<v-btn depressed rounded color="success" v-if="mine || userAdmin" @click.stop="editMeetUp">EDIT</v-btn>
			<v-btn depressed rounded color="error" v-if="mine || userAdmin" @click.stop="deletePopup = !deletePopup">DELETE</v-btn>
		</v-card-actions>
		<v-expand-transition>
			<v-card outlined color="error" dark v-if="deletePopup">
				<v-card-actions>
					<v-card-text>
						Are you sure you want to delete? (PERMANENT)
					</v-card-text>
					<v-spacer></v-spacer>
					<v-btn depressed light @click.stop="deletePopup = false">CANCEL</v-btn>
					<v-btn depressed @click.stop="deleteMe()" :loading="deleting" :disabled="deleting">DELETE</v-btn>
				</v-card-actions>
			</v-card>
		</v-expand-transition>
	</v-card>
</template>

<script>
import { firestore } from '../firebase'
export default {
	name: 'MeetUp',
	props: {
		meetUp: Object,
		userId: String,
		userAdmin: Boolean,
		filter: Array,
		removeMe: Function,
		leaveRemoveMe: Function,
		addSubjectFilter: Function,
	},
	data() {
		return {
			mine: false,
			userJoined: false,
			joined: [],
			matched: false,
			subjects: [],
			subjectIDs: [],
			deletePopup: false,
			deleting: false,
			joining: false,
			leaving: false,
		}
	},
	created() {
		this.mine = this.$props.userId === this.$props.meetUp.u_id
		this.getSubjects()
		this.getJoined()
	},
	methods: {
		getSubjects() {
			firestore.collection('MeetUp_For_Subject').where('m_id', '==', this.$props.meetUp.id).get().then(query => {
				query.forEach(doc => {
					this.subjectIDs.push(doc.data().s_id)
				})
			}).then(() => {
				this.subjectIDs.forEach(subjectID => {
					firestore.collection('Subject').doc(subjectID).get().then(query => {
						this.subjects.push(query.data().name)
					}).then(() => {
						if(this.subjects.length == this.subjectIDs.length && this.filter.length > 0) {
							this.subjects.forEach(subject => {
								this.filter.forEach(sf => {
									if(subject == sf || this.matched) {
										this.matched = true
										return
									}
								})
								if(this.matched) {
									return
								}
							})
							// alert(this.$props.meetUp.name + ', ' + this.matched)
							if(this.matched) {
								return
							} else {
								this.removeMe(this.$props.meetUp.id)
							}
							
						} else if(this.subjects.length == this.subjectIDs.length) {
							this.matched = true
						}
					})
				})
			})
		},
		getJoined() {
			this.userJoined = false
			this.joined = []
			this.joined.push(this.$props.meetUp.u_id)
			firestore.collection('User_Joined_Meetup').where('m_id', '==', this.$props.meetUp.id).get().then(query => {
				query.forEach(doc => {
					this.joined.push(doc.data().u_id)
					if(doc.data().u_id === this.userId) {
						this.userJoined = true
					}
				})
			})
		},
		editMeetUp() {
			this.$router.push('/editmeetup/' + this.$props.meetUp.id)
		},
		join() {
			this.joining = true
			this.leaving = false
			firestore.collection('User_Joined_Meetup').add({
				u_id: this.userId,
				m_id: this.$props.meetUp.id
			}).then(setTimeout(() => {
				this.getJoined()
			}, 100))
			.catch(function(error) {
				alert('Error while joining MeetUp')
			})
		},
		leave() {
			this.joining = false
			this.leaving = true
			let leaveID = ''
			var UJMQuery = firestore.collection('User_Joined_Meetup').where('u_id', '==', this.userId)
			UJMQuery.where('m_id', '==', this.$props.meetUp.id).get().then( query => {
				query.forEach(doc => {
					leaveID = doc.id
				})
			}).then(() => {
				firestore.collection('User_Joined_Meetup').doc(leaveID).delete()
				.then(setTimeout(() => {
					this.getJoined()
				}, 100))
				.then(this.$props.leaveRemoveMe(this.$props.meetUp.id))
				.catch(function(error) {
					alert('Error while leaving MeetUp')
				})
			})
		},
		deleteMe() {
			this.deleting = true
			firestore.collection('User_Joined_Meetup').where('m_id', '==', this.$props.meetUp.id).get().then(query => {
				query.forEach(doc => {
					firestore.collection('User_Joined_Meetup').doc(doc.id).delete()
				})
			}).then(() => {
				firestore.collection('MeetUp_For_Subject').where('m_id', '==', this.$props.meetUp.id).get().then(query => {
					query.forEach(doc => {
						firestore.collection('MeetUp_For_Subject').doc(doc.id).delete()
					})
				})
			}).then(() => {
				firestore.collection('MeetUp').doc(this.$props.meetUp.id).delete()
			}).then(setTimeout(() => {
				this.$props.removeMe(this.$props.meetUp.id)
			}, 500))
		}
	}
}
</script>