<template>
	<v-container fluid>
		<v-row>
			<v-col align="center">
				<v-form ref="form" v-model="valid" @submit.prevent="createMeetUp">
					<v-card outlined max-width="500">
						<v-card-title>New MeetUp</v-card-title>
						<v-card-title><v-text-field v-model="title" :rules="required" outlined hide-details label="Title"></v-text-field></v-card-title>
						<v-card-text>
							<v-row>
								<v-col>
									<v-combobox :items="subjects" v-model="subjectsFilter" :rules="required" @blur="checkSubjectsValid()" label="Subjects" chips multiple outlined hide-details></v-combobox>
								</v-col>
								<v-btn depressed style="margin-top:28px; margin-right:12px;" @click.stop="subjectsFilter = null">CLEAR</v-btn>
							</v-row>
							<v-row>
								<v-col>
									<v-menu ref="dateMenu" v-model="dateMenu" :close-on-content-click="true" transition="scale-transition" offset-y max-width="290px" min-width="290px">
										<template v-slot:activator="{ on, attrs }">
											<v-text-field v-model="date" :rules="required" label="Date" outlined hide-details readonly dense v-bind="attrs" v-on="on"></v-text-field>
										</template>
										<v-date-picker v-model="date" no-title scrollable>
											<v-spacer></v-spacer>
											<v-btn text color="primary" @click="dateMenu = false">CANCEL</v-btn>
											<v-btn text color="primary" @click="$refs.dateMenu.save(date)">OK</v-btn>
										</v-date-picker>
									</v-menu>
								</v-col>
								<v-col>
									<v-menu ref="timeMenu" v-model="timeMenu" :close-on-content-click="false" transition="scale-transition" offset-y max-width="290px" min-width="290px">
										<template v-slot:activator="{ on, attrs }">
											<v-text-field v-model="time" :rules="required" label="Time" readonly outlined hide-details dense v-bind="attrs" v-on="on">
											</v-text-field>
										</template>
										<v-time-picker v-if="timeMenu" v-model="time" full-width @click:minute="$refs.timeMenu.save(time)"></v-time-picker>
									</v-menu>
								</v-col>
								<span><v-btn depressed style="margin-top:14px; margin-right:12px;" @click.stop="date = ''; time = ''">CLEAR</v-btn></span>
							</v-row>
							<v-text-field v-model="location" :rules="required" outlined hide-details dense class="mt-3" label="Location"></v-text-field>
							<v-text-field v-model="description" outlined hide-details dense class="mt-6" label="Description (optional)"></v-text-field>
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn depressed color="success" type="submit" @click="$refs.form.validate()" :loading="creating" :disabled="creating">CREATE NEW MEETUP</v-btn>
						</v-card-actions>
					</v-card>
				</v-form>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
import * as firebase from '../firebase'
export default {
	name: 'NewMeetUp',
	data() {
		return {
			userId: '',
			valid: false,
			required: [ v => !!v || 'Required'],
			title: '',
			date: '',
			dateMenu: false,
			time: '',
			timeMenu: false,
			subjects: [],
			subjectsFilter: [],
			location: '',
			description: '',
			creating: false,
		}
	},
	created() {
		this.getUserId()
		this.getMySubjects()
		this.getSubjects()
	},
	methods: {
		getUserId() {
			const user = []
			firebase.firestore.collection('User').where('name', '==', firebase.auth.currentUser.email.split('@')[0]).get().then(query => {
				query.forEach(doc => {
					user.push(doc.id)
				})
			}).then(() => {
				if(user.length !== 1) {
					alert('User Error')
					return
				} else {
					this.userId = user[0]
				}
			})
		},
		getSubjects() {
			firebase.firestore.collection('Subject').get().then(query => {
				query.forEach(doc => {
					this.subjects.push(doc.data().name)
				})
			})
		},
		getMySubjects() {
			this.subjectsFilter = []
			const user = []
			firebase.firestore.collection('User').where('name', '==', firebase.auth.currentUser.email.split('@')[0]).get().then(query => {
				query.forEach(doc => {
					user.push(doc.id)
				})
			}).then(() => {
				if(user.length !== 1) {
					alert('Duplicate User Error')
				} else {
					const courses = []
					let subs = 0
					firebase.firestore.collection('User_Takes_Course').where('u_id', '==', user[0]).get().then(query => {
						query.forEach(doc => {
							courses.push(doc.data().c_id)
						})
					}).then(() => {
						courses.forEach(course => {
							const subjects = []
							firebase.firestore.collection('Course_Has_Subject').where('c_id', '==', course).get().then(query => {
								query.forEach(doc => {
									subjects.push(doc.data().s_id)
								})
							}).then(() => {
								subjects.forEach(subject => {
									firebase.firestore.collection('Subject').doc(subject).get().then(query => {
										subs++
										this.subjects.splice(this.subjects.indexOf(query.data().name), 1)
										this.subjects.unshift(query.data().name)
										//this.subjectsFilter.push(query.data().name)
									})
								})
							})
						})
					})
				}
			})
		},
		checkSubjectsValid() {
			if(this.subjectsFilter.length <= 0) {
				this.subjectsFilter = null
			}
		},
		createMeetUp() {
			if(this.valid) {
				this.creating = true
				let datetime = this.date
				let subjectsFilter = this.subjectsFilter
				if(this.date !== '' && this.date !== null) {
					if(this.time !== '' && this.time !== null) {
						datetime += 'T' + this.time + ':00.000+02:00'
					} else {
						datetime += 'T00:00:00.000+02:00'
					}
				}
				firebase.firestore.collection('MeetUp').add({
					name: this.title,
					location: this.location,
					description: this.description,
					u_id: this.userId,
					datetime: new Date(datetime).toString()
				}).then(function(meetUp) {
					let subjectId = '';
					subjectsFilter.forEach(subject => {
						firebase.firestore.collection('Subject').where('name', '==', subject).get().then(query => {
							query.forEach(doc => {
								subjectId = doc.id
							})
						}).then(() => {
							firebase.firestore.collection('MeetUp_For_Subject').add({
								m_id: meetUp.id,
								s_id: subjectId
							})
						})
					})
				}).then(setTimeout(() => {
					this.$router.push('/mymeetups')
				}, 500))
				.catch(function(error) {
					alert('Error while creating MeetUp: ' + error)
				})
			}
		}
	}
}
</script>