<template>
	<v-container fluid>
		<v-row>
			<v-col align="center">
				<v-card max-width="500" align="left" class="mb-6" outlined>
					<v-card-title>General</v-card-title>
					<v-card-text>
						<h3 class="mb-3">Select your courses:</h3>
						<v-combobox :items="courses" v-model="coursesFilter" :rules="coursesRequired" @blur="checkCoursesValid()" label="My Courses"  chips multiple outlined></v-combobox>
						<v-tooltip bottom>
							<template v-slot:activator="{ on, attrs }">
								<div v-bind="attrs" v-on="on">
									<v-switch hide-details inset label="Automatic Subject Filter" v-model="autoSubjectFilter" class="pa-0"></v-switch>
								</div>
							</template>
						<span>When filtering subjects, automatically select all subjects from your course(s)</span>
						</v-tooltip>
						<v-tooltip bottom>
							<template v-slot:activator="{ on, attrs }">
								<div v-bind="attrs" v-on="on">
									<v-switch hide-details inset label="Automatic Date Filter" v-model="autoDateFilter" class="pa-0 d-inline-block"></v-switch>
								</div>
							</template>
							<span>When filtering dates, automatically filter from current date and time</span>
						</v-tooltip>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn depressed :dark="!saving" :loading="saving" :disabled="saving" @click.stop="save()">SAVE</v-btn>
					</v-card-actions>
				</v-card>
				<v-card max-width="500" align="left" class="mb-6" outlined :style="this.userTutor ? 'border:1px solid #00BCD4;' : ''">
					<v-card-title>Tutoring<v-spacer></v-spacer><span class="text-button primary--text">{{userTutor ? 'registered' : ''}}<v-btn depressed color="primary" v-if="!userTutor" @click.stop="registering = !registering">REGISTER</v-btn></span></v-card-title>
					<v-card-text v-if="userTutor">
						<v-combobox :items="subjects" v-model="tutorSubjectsFilter" :rules="tutorSubjectsRequired" @blur="checkSubjectsValid()" label="My Specialised Subjects"  chips multiple outlined></v-combobox>
					</v-card-text>
					<v-card-actions v-if="userTutor">
						<v-btn depressed color="error" @click.stop="unregisterPopup = !unregisterPopup">UNREGISTER</v-btn>
						<v-spacer></v-spacer>
						<v-btn depressed :dark="!savingSubjects" :loading="savingSubjects" :disabled="savingSubjects" @click.stop="updateTutorSpecialisedSubjects()">SAVE</v-btn>
					</v-card-actions>
					<v-card-text v-if="!userTutor">
						<v-expand-transition>
							<v-card flat v-if="registering">
								<v-combobox :items="subjects" v-model="tutorSubjectsFilter" :rules="tutorSubjectsRequired" @blur="checkSubjectsValid()" label="My Specialised Subjects" chips multiple outlined></v-combobox>
								<v-card-actions>
									<v-spacer></v-spacer>
									<v-btn depressed :dark="!submitting" :loading="submitting" :disabled="submitting" @click.stop="registerTutor()">SUBMIT</v-btn>
								</v-card-actions>
							</v-card>
						</v-expand-transition>
					</v-card-text>
					<v-expand-transition>
							<v-card outlined color="error" dark v-if="unregisterPopup" align="left">
								<v-card-actions>
									<v-card-text>
										Are you sure you want to unregister?
									</v-card-text>
									<v-spacer></v-spacer>
									<v-btn depressed light @click.stop="unregisterPopup = false">CANCEL</v-btn>
									<v-btn depressed @click.stop="unregisterTutor()" :loading="unregistering" :disabled="unregistering">UNREGISTER</v-btn>
								</v-card-actions>
							</v-card>
						</v-expand-transition>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
import * as firebase from '../firebase'
import { firestore } from 'firebase'
export default {
	name: 'Settings',
	data() {
		return {
			userId: '',
			coursesRequired: [ v => !!v || 'Select at least one course.'],
			courses: [],
			coursesFilter: [],
			originalCoursesFilter: [],
			autoSubjectFilter: false,
			autoDateFilter: false,
			saving: false,
			savingSubjects: false,
			submitting: false,
			unregistering: false,
			userTutor: false,
			tutorId: '',
			subjects: [],
			tutorSubjectsFilter: [],
			tutorOriginalSubjectsFilter: [],
			tutorSubjectsRequired: [ v => !!v || 'Select at least one subject.'],
			registering: false,
			unregisterPopup: false,
		}
	},
	created() {
		this.getUserId()
		this.getCourses()
		this.getSubjects()
		this.autoSubjectFilter = this.$store.getters.autoSubjectFilter
		this.autoDateFilter = this.$store.getters.autoDateFilter
	},
	methods: {
		getUserId() {
			const user = []
			firebase.firestore.collection('User').where('name', '==', firebase.auth.currentUser.email.split('@')[0]).get().then(query => {
				query.forEach(doc => {
					user.push(doc.id)
				})
			}).then(() => {
				if(user.length !== 1) {
					alert('User Error')
					return
				} else {
					this.userId = user[0]
				}
				this.getMyCourses()
				this.getUserTutor()
			})
		},
		getUserTutor() {
			this.userTutor = false
			this.tutorId = ''
			const tutor = []
			firebase.firestore.collection('Tutor').where('u_id', '==', this.userId).get().then(query => {
				query.forEach(doc => {
					tutor.push(doc.id)
				})
			}).then(() => {
				if(tutor.length !== 1) {
					return
				} else {
					this.tutorId = tutor[0]
					this.userTutor = true
					this.getTutorSpecialisedSubjects()
				}
			})
		},
		checkCoursesValid() {
			if(this.coursesFilter.length <= 0) {
				this.coursesFilter = null
			}
		},
		checkSubjectsValid() {
			if(this.tutorSubjectsFilter.length <= 0) {
				this.tutorSubjectsFilter = null
			}
		},
		getCourses() {
			firebase.firestore.collection('Course').get().then(query => {
				query.forEach(doc => {
					this.courses.push(doc.data().name)
				})
			})
		},
		getMyCourses() {
			this.coursesFilter = []
			this.originalCoursesFilter = []
			firebase.firestore.collection('User_Takes_Course').where('u_id', '==', this.userId).get().then(query => {
				query.forEach(doc => {
					firebase.firestore.collection('Course').doc(doc.data().c_id).get().then(course => {
						this.coursesFilter.push(course.data().name)
						this.originalCoursesFilter.push(course.data().name)
						this.courses.splice(this.courses.indexOf(course.data().name), 1)
						this.courses.unshift(course.data().name)
					})
				})
			})
		},
		save() {
			if(this.coursesFilter.length <= 0) {
				return
			}
			this.saving = true
			this.$store.commit('setAutoSubjectFilter', this.autoSubjectFilter)
			this.$store.commit('setAutoDateFilter', this.autoDateFilter)
			firebase.firestore.collection('Course').get().then(query => {
				query.forEach(course => {
					if(this.coursesFilter.includes(course.data().name) && !this.originalCoursesFilter.includes(course.data().name)) {
						firebase.firestore.collection('User_Takes_Course').add({
							c_id: course.id,
							u_id: this.userId
						})
					}
					if(!this.coursesFilter.includes(course.data().name) && this.originalCoursesFilter.includes(course.data().name)) {
						let UTCQuery = firebase.firestore.collection('User_Takes_Course').where('c_id', '==', course.id)
						UTCQuery.where('u_id', '==', this.userId).get().then(query => {
							query.forEach(doc => {
								firebase.firestore.collection('User_Takes_Course').doc(doc.id).delete()
							})
						})
					}
				})
			})
			.then(setTimeout(() => {
				this.saving = false
				this.getMyCourses()
			}, 500))
		},
		getSubjects() {
			firebase.firestore.collection('Subject').get().then(query => {
				query.forEach(doc => {
					this.subjects.push(doc.data().name)
				})
			})
		},
		getTutorSpecialisedSubjects() {
			this.tutorSubjectsFilter = []
			this.tutorOriginalSubjectsFilter = []
			firebase.firestore.collection('Tutor_Specialises_Subject').where('t_id', '==', this.tutorId).get().then(query => {
				query.forEach(doc => {
					firebase.firestore.collection('Subject').doc(doc.data().s_id).get().then(subject => {
						this.tutorSubjectsFilter.push(subject.data().name)
						this.tutorOriginalSubjectsFilter.push(subject.data().name)
						this.subjects.splice(this.subjects.indexOf(subject.data().name), 1)
						this.subjects.unshift(subject.data().name)
					})
				})
			})
		},
		updateTutorSpecialisedSubjects() {
			if(this.tutorSubjectsFilter.length <= 0 || this.tutorId == '') {
				return
			}
			this.savingSubjects = true
			firebase.firestore.collection('Subject').get().then(query => {
				query.forEach(subject => {
					if(this.tutorSubjectsFilter.includes(subject.data().name) && !this.tutorOriginalSubjectsFilter.includes(subject.data().name)) {
						firebase.firestore.collection('Tutor_Specialises_Subject').add({
							s_id: subject.id,
							t_id: this.tutorId
						})
					}
					if(!this.tutorSubjectsFilter.includes(subject.data().name) && this.tutorOriginalSubjectsFilter.includes(subject.data().name)) {
						let TSSQuery = firebase.firestore.collection('Tutor_Specialises_Subject').where('s_id', '==', subject.id)
						TSSQuery.where('t_id', '==', this.tutorId).get().then(query => {
							query.forEach(doc => {
								firebase.firestore.collection('Tutor_Specialises_Subject').doc(doc.id).delete()
							})
						})
					}
				})
			})
			.then(setTimeout(() => {
				this.savingSubjects = false
				this.getTutorSpecialisedSubjects()
			}, 500))
		},
		registerTutor() {
			if(this.tutorSubjectsFilter.length <= 0) {
				return
			}
			this.submitting = true
			firebase.firestore.collection('Tutor').add({
				u_id: this.userId
			}).then(tutor => {
				this.tutorId = tutor.id
				this.tutorSubjectsFilter.forEach(s => {
					firebase.firestore.collection('Subject').where('name', '==', s).get().then(query => {
						query.forEach(subject => {
							firebase.firestore.collection('Tutor_Specialises_Subject').add({
								s_id: subject.id,
								t_id: this.tutorId
							})
						})
					})
				})
			}).then(setTimeout(() => {
				this.submitting = false
				this.userTutor = true
				this.getTutorSpecialisedSubjects()
			}, 500))
		},
		unregisterTutor() {
			this.unregistering = true
			firebase.firestore.collection('Tutor_Specialises_Subject').where('t_id', '==', this.tutorId).get().then(query => {
				query.forEach(doc => {
					firebase.firestore.collection('Tutor_Specialises_Subject').doc(doc.id).delete()
				})
			}).then(() => {
				firebase.firestore.collection('Tutor').doc(this.tutorId).delete()
				this.tutorId = ''
				this.userTutor = false
				this.unregistering = false
				this.unregisterPopup = false
				this.tutorSubjectsFilter = []
				this.tutorOriginalSubjectsFilter = []
				this.getUserTutor()
			})
		}
	},
}
</script>