<template>
	<v-container fluid>
		<v-row>
			<v-col align="center">
				<v-card max-width="500" align="left" class="mb-6" color="grey lighten-4" outlined>
					<v-card-title>Find a tutor to contact</v-card-title>
					<v-card-text>
					<v-row>
						<v-col>
							<v-combobox :items="subjects" v-model="subjectsFilter" label="Subjects" chips multiple outlined hide-details></v-combobox>
						</v-col>
					</v-row>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn depressed color="white" @click.stop="subjectFilterClear()">CLEAR</v-btn>
						<v-btn depressed dark @click.stop="getTutors()">FILTER</v-btn>
					</v-card-actions>
				</v-card>
				<Tutor :tutor="tutor" :userId="userId" :filter="subjectsFilter" :removeMe="removeTutor" :addSubjectFilter="addSubjectFilter" v-for="tutor in tutors" :key="tutor.id"></Tutor>
				<v-btn v-show="loading" loading icon x-large text></v-btn>
				{{tutors.length > 0 || loading ? '' : 'No Tutors found'}}
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
import Tutor from './Tutor.vue'
import * as firebase from '../firebase'
export default {
	name: 'Tutors',
	components: {
		Tutor
	},
	data() {
		return {
			tutors: [],
			subjects: [],
			subjectsFilter: [],
			userId: '',
			loading: true,
		}
	},
	created() {
		this.getUserId()
		this.getSubjects()
		this.getMySubjects()
	},
	methods: {
		removeTutor(id) {
			this.tutors.forEach(tutor => {
				if(tutor.id == id) {
					this.tutors.splice(this.tutors.indexOf(tutor), 1)
					return
				}
			})
		},
		addSubjectFilter(subject) {
			if(!this.subjectsFilter.includes(subject)) {
				this.subjectsFilter.push(subject)
				this.subjects.splice(this.subjects.indexOf(subject), 1)
				this.subjects.unshift(subject)
				this.getTutors()
			}
		},
		subjectFilterClear() {
			if(this.subjectsFilter.length > 0) {
				this.subjectsFilter = []
				this.getTutors()
			}
		},
		getUserId() {
			const user = []
			firebase.firestore.collection('User').where('name', '==', firebase.auth.currentUser.email.split('@')[0]).get().then(query => {
				query.forEach(doc => {
					user.push(doc.id)
				})
			}).then(() => {
				if(user.length !== 1) {
					alert('User Error')
					return
				} else {
					this.userId = user[0]
				}
			})
		},
		getSubjects() {
			firebase.firestore.collection('Subject').get().then(query => {
				query.forEach(doc => {
					this.subjects.push(doc.data().name)
				})
			})
		},
		getMySubjects() {
			const user = []
			firebase.firestore.collection('User').where('name', '==', firebase.auth.currentUser.email.split('@')[0]).get().then(query => {
				query.forEach(doc => {
					user.push(doc.id)
				})
			}).then(() => {
				if(user.length !== 1) {
					alert('User Error')
				} else {
					const courses = []
					firebase.firestore.collection('User_Takes_Course').where('u_id', '==', user[0]).get().then(query => {
						query.forEach(doc => {
							courses.push(doc.data().c_id)
						})
					}).then(() => {
						courses.forEach(course => {
							const subjects = []
							firebase.firestore.collection('Course_Has_Subject').where('c_id', '==', course).get().then(query => {
								query.forEach(doc => {
									subjects.push(doc.data().s_id)
								})
							}).then(() => {
								subjects.forEach(subject => {
									firebase.firestore.collection('Subject').doc(subject).get().then(query => {
										this.subjects.splice(this.subjects.indexOf(query.data().name), 1)
										this.subjects.unshift(query.data().name)
										if(this.$store.getters.autoSubjectFilter) {
											this.subjectsFilter.push(query.data().name)
										}
									})
								})
							})
						})
					}).then(this.getTutors())
				}
			})
		},
		getTutors() {
			this.tutors = []
			this.loading = true
			firebase.firestore.collection('Tutor').get().then(query => {
				query.forEach(tutor => {
					let name = ''
					firebase.firestore.collection('User').doc(tutor.data().u_id).get().then(user => {
						this.tutors.push({
							id: tutor.id,
							u_id: tutor.data().u_id,
							name: user.data().name
						})
					}).then(setTimeout(() => {
						this.loading = false
					}, 1000))
				})
			})
		}
	}
}
</script>