<template>
	<v-card outlined max-width="500" align="left" class="mb-6" v-if="matched" style="border:1px solid #9E9E9E;">
		<v-card-title class="pb-1">{{tutor.name}}</v-card-title>
		<v-card-text style="padding-bottom:0;">
			<v-btn class="mr-2 mb-2" rounded depressed small @click.stop="addSubjectFilter(subject)" v-for="(subject, i) in this.subjects" :key="i">{{subject}}</v-btn>
			<h3>Contact:</h3>
		</v-card-text>
		<v-card-actions>
			<v-btn v-clipboard:copy="email" v-clipboard:success="onCopy" v-clipboard:error="onError" rounded depressed block dark @click.stop="snackbar = true">{{tutor.name}}@email.com<v-icon small class="ml-2">mdi-content-copy</v-icon></v-btn>
			<v-snackbar v-model="snackbar">
				{{tutor.name}}@email.com copied to clipboard
				<template v-slot:action="{ attrs }">
					<v-btn color="primary" text v-bind="attrs" @click="snackbar = false">CLOSE</v-btn>
				</template>
			</v-snackbar>
		</v-card-actions>
	</v-card>
</template>

<script>
import { firestore } from '../firebase'
export default {
	name: 'Tutor',
	props: {
		tutor: Object,
		userId: String,
		filter: Array,
		removeMe: Function,
		addSubjectFilter: Function,
	},
	data() {
		return {
			matched: false,
			subjects: [],
			subjectIDs: [],
			email: '',
			snackbar: false
		}
	},
	created() {
		this.email = this.$props.tutor.name + '@email.com'
		this.getSubjects()
	},
	methods: {
		getSubjects() {
			firestore.collection('Tutor_Specialises_Subject').where('t_id', '==', this.$props.tutor.id).get().then(query => {
				query.forEach(doc => {
					this.subjectIDs.push(doc.data().s_id)
				})
			}).then(() => {
				this.subjectIDs.forEach(subjectID => {
					firestore.collection('Subject').doc(subjectID).get().then(query => {
						this.subjects.push(query.data().name)
					}).then(() => {
						if(this.subjects.length == this.subjectIDs.length && this.filter.length > 0) {
							this.subjects.forEach(subject => {
								this.filter.forEach(sf => {
									if(subject == sf || this.matched) {
										this.matched = true
										return
									}
								})
								if(this.matched) {
									return
								}
							})
							if(this.matched) {
								return
							} else {
								this.removeMe(this.$props.tutor.id)
								
							}
							
						} else if(this.subjects.length == this.subjectIDs.length) {
							this.matched = true
						}
					})
				})
			})
		},
		onCopy(e) {
			// alert('You just copied: ' + e.text)
		},
		onError(e) {
			// alert('Failed to copy texts')
		}
	}
}
</script>