<template>
	<v-app id="inspire">
		
		<v-app-bar app color="primary" dark flat>
			<v-btn icon @click.stop="nav = !nav" v-if="xsScreen && user"><v-icon>mdi-menu</v-icon></v-btn>
			<h2>Study Buddies</h2>
		</v-app-bar>
		
		<v-navigation-drawer app :permanent="!xsScreen" v-if="user" color="primary" v-model="nav" dark>
			<v-list nav>
				<v-list-item light>
					<v-list-item-icon>
						<v-icon>mdi-account</v-icon>
					</v-list-item-icon>
					<v-list-item-title>{{username.toUpperCase()}}</v-list-item-title>
				</v-list-item>
				<v-list-item link to="/">
					<v-list-item-icon>
						<v-icon>mdi-home</v-icon>
					</v-list-item-icon>
					<v-list-item-title>HOME</v-list-item-title>
				</v-list-item>
				<v-list-item link to="/newmeetup">
					<v-list-item-icon>
						<v-icon>mdi-plus</v-icon>
					</v-list-item-icon>
					<v-list-item-title>NEW MEETUP</v-list-item-title>
				</v-list-item>
				<v-list-item link to="/mymeetups">
					<v-list-item-icon>
						<v-icon>mdi-folder</v-icon>
					</v-list-item-icon>
					<v-list-item-title>MY MEETUPS</v-list-item-title>
				</v-list-item>
				<v-list-item link to="/joinedmeetups">
					<v-list-item-icon>
						<v-icon>mdi-account-multiple</v-icon>
					</v-list-item-icon>
					<v-list-item-title>JOINED MEETUPS</v-list-item-title>
				</v-list-item>
				<v-list-item link to="/tutors">
					<v-list-item-icon>
						<v-icon>mdi-notebook</v-icon>
					</v-list-item-icon>
					<v-list-item-title>TUTORS</v-list-item-title>
				</v-list-item>
				<v-list-item link to="/settings">
					<v-list-item-icon>
						<v-icon>mdi-cog</v-icon>
					</v-list-item-icon>
					<v-list-item-title>SETTINGS</v-list-item-title>
				</v-list-item>
				<v-list-item>
					<v-list-item-icon></v-list-item-icon>
					<v-list-item-title>
						<v-btn depressed style="margin-left:8.81px;" @click.stop="logout">LOGOUT</v-btn>
					</v-list-item-title>
				</v-list-item>
			</v-list>
			
		</v-navigation-drawer>
		
		<v-main>
			<router-view/>
		</v-main>
		
		<v-footer app>
			<v-spacer></v-spacer>
			<h3>Systems III Project</h3>
		</v-footer>
	</v-app>
</template>

<script>
import { auth } from './firebase'

export default {
	name: 'App',
	data() {
		return {
			user: null,
			username: '',
			nav: false
		}
	},
	created() {
		auth.onAuthStateChanged(user => {
			if (user) {
				this.user = user
				this.username = user.email.split('@')[0]
			} else {
				this.user = null
			}
		});
	},
	computed: {
		xsScreen: function() {
			return this.$vuetify.breakpoint.name === 'xs'
		},
	},
	methods: {
		logout() {
			auth.signOut()
		}
	}
}
</script>
